body {
  background-color: #808080;
  color: #696969;
}
.page-footer,
.container {
  background-color: #F5F5F5;
}
.menu-item > a {
  color: inherit;
}
.menu-item {
  color: #FFFFFF;
}
.figure-with-title,
.wrapped-figure {
  background-color: #FFE4B5;
}
.link-default-style {
  color: black;
}