body {
  background-color: #808080;
  color: #696969;
}
.page-footer,
.container {
  background-color: #F5F5F5;
}
.top-menu .menu-item > a {
  color: inherit;
}
.menu-item {
  color: #FFFFFF;
}
figure.inline-figure {
  background-color: #FFE4B5;
}
.black {
  color: black;
}

