body {
    font-family: Arial, Helvetica, sans-serif;
}
.container, .page-footer {
    font-size: 14px;
}
.section-header {
    font-size: 110%;
}
.article-header {
    font-size: 120%;
}
.top-menu .menu-item > a {
    text-decoration: none;
}
.menu-item {
    text-decoration: none;
    font-size: 20px;
}
.current-page,
.source-site,
.menu-item:hover,
.works-list > dt {
    font-weight: bold;
}
.top-menu {
    text-align: center;
}
figure.inline-figure {
    text-align: center;
    font-size: 13px;
}
.contact-form > button,
.search-form > button {
    font-size: 15px;
}

