body {
    font-family: Arial, Helvetica, sans-serif;
}
.top-menu {
    text-align: center;
}
.menu-item > a {
    text-decoration: none;
}
.menu-item {
    text-decoration: none;
    font-size: 20px;
}
.section-header {
    font-size: 15px;
}
.article-header {
    font-size: 16px;
}
.container {
    font-size: 15px;
}
.current-page,
.source-site,
.menu-item:hover,
.works-list > dt,
.paragraph-intro{
    font-weight: bold;
}
.wrapped-figure,
.figure-with-title {
    text-align: center;
    font-size: 13px;
}
.btn {
    font-size: 15px;
}
.page-footer {
    font-size: 14px;
}
