.no-bullets-list {
    list-style-type: none;
}
.padded-list {
    padding: 0 30px 10px 0;
}
.page-footer {
    width: 50%;
    margin: 20px auto 0;     /* auto tells the browser to automatically determine the left and right margins itself, which it does by setting them equally */
    padding: 20px;
}
.section-footer {
    margin-top: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 5px;
}
.container {
    width: 50%;
    margin: 0 auto;     /* auto tells the browser to automatically determine the left and right margins itself, which it does by setting them equally */
    padding: 20px;

}
.clearfix {
    display: block;
    content: "";
    clear: both;
}
.menu-item {
    height: 40px;
    padding-right: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
}
.round-box {
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 10px;
}
/* Lists */
.works-list > dt {
    margin-bottom: 10px;
}
.works-list > dd {
    margin-bottom: 20px;
}

/* Images */
figure.float-left {
    float: left;
    margin: 0 30px 0 0;
 }
img.padded-img {
    margin-bottom: 20px;
    max-width: 220px;
}

.gender-selector {
    border: none;
    margin-left: -10px;
}
.gender-selector > label:not(:empty) {
    margin: 10px 2px 5px 20px;
}
.large-input {
    display: block;
    max-width: 300px;
    margin: 5px 0 10px 0;
    padding: 5px;
    position: relative;
    left: 20px;
}
.small-input {
    display: block;
    max-width: 100px;
    margin: 5px 0 10px 0;
    padding: 5px;
    position: relative;
    left: 20px;
}
.contact-form > button,
.search-form > button {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}
